<% def timefmt (s) %>
  <% return (s / 3600).to_i.to_s + ":" + zfill((s % 3600 / 60).to_i) + ":" +  zfill((s % 60).to_i) %>
<% end %>

<% def zfill (s) %>
  <% if s < 10 %>
    <% return "0" + s.to_s %>
  <% else %>
    <% return s.to_s %>
  <% end %>
<% end %>

<% def to_id (s)%>
  <% s = timefmt(s) %>
  <% s = s.gsub(":", "_") %>
  <% return "t" + s%>
<% end %>

<script>
window.addEventListener('load', () => {
  const deletebuttons = document.getElementsByClassName("deletekome");
  <% Bookmark.find(params[:bookmark_id]).comments.length.times do |i| %>
    deletebuttons[ <%= i %> ].addEventListener("click", () => {
      document.getElementsByClassName("timesentence")[ <%= i %> ].innerHTML = "";
    });
  <% end %>
  var komeran = document.getElementById("comment_ue");
  komeran.scrollTo(0, komeran.scrollHeight);
});
</script>

<div class="komento">
  <div class="comment_ue" id="comment_ue">
    <% if Bookmark.find(params[:bookmark_id]).comments.length != 0 %>
        <% i = 0 %>
        <% Bookmark.find(params[:bookmark_id]).comments.order("sec ASC").order("created_at ASC").each do |comment| %>
          <div class="timesentence" id="timesentence<%= i %>">
            <div class='hhmm' id='<%= to_id(comment[:sec]) + "(#{i})" %>'>
              <%= timefmt(comment[:sec]) %>
            </div>
            &nbsp;
            <div class='kome' id='<%= to_id(comment[:sec]) + "(#{i})" %>_sentence'>
              <%= h comment[:sentence] %>
            </div>
            <%= link_to "x", bookmark_comment_path(params[:bookmark_id], comment.id), method: :delete, data: {confirm: "このコメントを削除しますか？"}, class: "deletekome", id: "delebtebutton#{i}" %>
          </div>
          <% i += 1 %>
        <% end %>
    <% else %>
      <%= "コメントを投稿してください" %>
    <% end %>
  </div>
  <div class="comment_sita" id="comment_sita" hidden>
    <%= form_with model: @comment, id: "comment_form", class: "comment_form" do |f| %>
      <%= f.hidden_field :sec %>
      <%= f.hidden_field :bookmark_id, value: @bookmark_id %>
      <%= f.text_field :sentence, placeholder:"コメント", id: "sentence", class: "sentence" %>
      <%= f.submit "送信", id: "sendbutton", class: "button" %>
    <% end %>
  </div>
</div>