<div class="atama">
  <div class="hidari">
    <div class="rogo">
      <%= link_to "Manabe", root_path %>
    </div>
  </div>
  <div class="migis">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname + "のブックマーク", user_path(current_user.id), class: "migi" %>
      <%= link_to "Youtube(別窓)", "https://www.youtube.com/", target: :_blank, rel: "noopener noreferrer", class: "migi" %><br>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "migi" %>
      <%= link_to "rojikaru", rojikarus_index_path, class: "migi" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "migi" %>
      <%= link_to "新規登録", new_user_registration_path, class: "migi" %>
      <%= link_to "rojikaru", rojikarus_index_path, class: "migi" %>
    <% end %>
  </div>
</div>
